## Deliverable 2. Create a Customer Travel Destinations Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\emily\Class_Folder\World_Weather_Analysis\Weather_Database\FAKEDATAMUSTFIX.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2020-10-31 06:31:53,55.74,-97.86,17.60,85,90,11.41
1,1,Mahebourg,MU,2020-10-31 06:32:35,-20.41,57.70,71.60,53,20,12.75
2,2,Chokurdakh,RU,2020-10-31 06:32:11,70.63,147.92,9.28,96,99,6.13
3,3,Sao Filipe,CV,2020-10-31 06:33:07,14.90,-24.50,79.43,65,100,16.55
4,4,Ushuaia,AR,2020-10-31 06:31:23,-54.80,-68.30,48.20,70,75,18.34

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 45

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Bethel,US,2020-10-31 06:31:52,41.37,-73.41,30.00,92,1,6.24
18,18,Narsaq,GL,2020-10-31 06:32:57,60.92,-46.05,23.00,79,95,4.70
22,22,Torbay,CA,2020-10-31 06:32:40,47.67,-52.73,34.00,64,90,10.29
26,26,Buchmany,UA,2020-10-31 06:34:35,51.07,28.04,43.47,88,98,6.26
27,27,Grindavik,IS,2020-10-31 06:29:07,63.84,-22.43,42.80,75,40,25.28
31,31,Isakly,RU,2020-10-31 06:34:36,54.13,51.53,42.12,69,100,9.64
32,32,Nanortalik,GL,2020-10-31 06:29:06,60.14,-45.24,27.72,93,94,10.94
45,45,Jamestown,US,2020-10-31 06:31:57,42.10,-79.24,33.01,86,90,6.93
46,46,Kodiak,US,2020-10-31 06:32:33,57.79,-152.41,37.40,55,90,5.82
50,50,Ostrovnoy,RU,2020-10-31 06:34:01,68.05,39.51,30.43,96,45,17.92

In [20]:
# 4a. Determine if there are any empty rows.
clean_cities_df.count()
clean_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Bethel,US,2020-10-31 06:31:52,41.37,-73.41,30.00,92,1,6.24
18,18,Narsaq,GL,2020-10-31 06:32:57,60.92,-46.05,23.00,79,95,4.70
22,22,Torbay,CA,2020-10-31 06:32:40,47.67,-52.73,34.00,64,90,10.29
26,26,Buchmany,UA,2020-10-31 06:34:35,51.07,28.04,43.47,88,98,6.26
27,27,Grindavik,IS,2020-10-31 06:29:07,63.84,-22.43,42.80,75,40,25.28
...,...,...,...,...,...,...,...,...,...,...
511,511,Sisimiut,GL,2020-10-31 06:33:04,66.94,-53.67,20.10,90,100,7.78
512,512,Bud,US,2020-10-31 06:36:35,39.45,-86.18,37.99,100,1,4.50
521,521,Zholymbet,KZ,2020-10-31 06:36:37,51.74,71.71,40.91,63,0,5.26
524,524,Oksfjord,NO,2020-10-31 06:36:37,70.24,22.35,30.20,73,64,23.04
527,527,Pangody,RU,2020-10-31 06:33:58,65.85,74.49,34.86,97,100,16.84

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
7       Bethel      US     30.00  41.37  -73.41
18      Narsaq      GL     23.00  60.92  -46.05
22      Torbay      CA     34.00  47.67  -52.73
26    Buchmany      UA     43.47  51.07   28.04
27   Grindavik      IS     42.80  63.84  -22.43
31      Isakly      RU     42.12  54.13   51.53
32  Nanortalik      GL     27.72  60.14  -45.24
45   Jamestown      US     33.01  42.10  -79.24
46      Kodiak      US     37.40  57.79 -152.41
50   Ostrovnoy      RU     30.43  68.05   39.51

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(20)
#hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Bethel,US,30.00,41.37,-73.41,Courtyard by Marriott Danbury
18,Narsaq,GL,23.00,60.92,-46.05,Hotel Narsaq
22,Torbay,CA,34.00,47.67,-52.73,Gallows Cove
26,Buchmany,UA,43.47,51.07,28.04,Nick's Place Hotel
27,Grindavik,IS,42.80,63.84,-22.43,Northern Light Inn & Max's Restaurant
31,Isakly,RU,42.12,54.13,51.53,Gostinnitsa
32,Nanortalik,GL,27.72,60.14,-45.24,"NTS Rooms, Nanortalik"
45,Jamestown,US,33.01,42.10,-79.24,Hampton Inn & Suites Jamestown
46,Kodiak,US,37.40,57.79,-152.41,Best Western Kodiak Inn and Convention Center
57,Maniitsoq,GL,20.28,65.42,-52.90,Hotel Heilmann Lyberth
58,Ancud,CL,44.01,-41.87,-73.82,Hotel Arena Gruesa
60,High Level,CA,23.00,58.52,-117.14,Days Inn by Wyndham High Level
65,Shelton,US,32.00,41.32,-73.09,"AIEP (Apex International Education Partners, LLC)"
84,Chumikan,RU,35.20,54.72,135.31,Fortuna
94,Gravelbourg,CA,42.80,49.88,-106.55,Historic Bishops Residence Bed & Breakfast
95,Palmer,US,24.01,42.16,-72.33,Wedgewood Motel
97,Mehamn,NO,27.55,71.04,27.85,Mehamn Arctic Hotel AS
108,Nikolskoye,RU,44.01,59.70,30.79,Tourist House - Sablino
113,Tyup,KG,44.89,42.73,78.36,"Gostevoy Dom ""Aldayar"""
116,Nantucket,US,43.00,41.28,-70.10,Jared Coffin House

In [46]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [52]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))